<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Deals</title>
    <!-- local css file in public directory -->
    <link rel="stylesheet" href="/public/styles.css"> 
</head>
<body>
    <!-- navbar -->
    <%- include ('navbar') %>
    <div class="all-v-container">

    <% rowdata.forEach((deals)=> { %>
        <div class="all_deals_img">
            <a href="/row?id=<%=deals.id%>" class="deals-img"><img src="<%- deals.image %>" alt="Image"></a>
        </div>
    <%}) %>
    </div>

    <!-- footer -->
    <%- include ('footer') %>
</body>
</html>