<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/vouchers.css">

</head>
<body>
    <!-- navbar -->
	<%- include ('navbar') %>
   
<div class="container">

   <h1 class="heading">Vouchers for Cineworld</h1>

   <div class="voucher">
    <div class="v_container">
      <h3>Cineworld</h3>
    </div>
    <img src="/images//vouchers/v4.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>2 FOR 1 TICKETS</b></h2>
      <p>Enjoy 2 for 1 tickets at Cineworld.</p>
      <p>Check out <a href="https://www.cineworld.co.uk/#/" style="color:dodgerblue" target="_blank" rel="noopener noreferrer" class="shop_link">Cineworld</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">YUIAIW8883JD9</span></p>
    </div>
  </div>

  <div class="voucher">
    <div class="v_container">
      <h3>Cineworld</h3>
    </div>
    <img src="/images//vouchers/v4.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>20% OFF</b></h2>
      <p>20% off snacks with purchase of family ticket at Cineworld (2 adults 2 children).</p>
      <p>Check out <a href="https://www.cineworld.co.uk/#/" style="color:dodgerblue" target="_blank" rel="noopener noreferrer">Cineworld</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">YYUIIS788383IS</span></p>
    </div>
  </div>


</div>


<!-- footer -->
<%- include ('footer') %>
</body>
</html>