<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/public/privacy.css">
    <link rel="stylesheet" href="/public/styles.css">

</head>
<body>
    <!-- navbar -->
    <% if (loggedIn) { %>
        <%- include ('navbar_logged') %>
      <% } else { %>
        <%- include ('navbar') %>
      <% } %>

      <div class="home-logo">
        <h3>π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“π“†±π“π“‹Όπ“π“‹Όπ“</h3>
     </div>

      <h1>Contact Us</h1>

      <div class="contact-container">
        <p> Any queries contact help@familydealtree.com</p>
      </div>

    <!-- footer -->
    <%- include ('footer') %>
</body>
</html>
