<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stack of Wax</title>
	<link rel="stylesheet" href="styles.css">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
	<!-- Social media icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- navbar -->
	<nav class="navbar">
			<div class="topnav" id="myTopnav">
				<a href="/" id="navbar__logo" class="active"></i>ğ“†±ğ“Šğ“‹¼ğ“Šğ“‹¼ğ“Š FAMILYDEALTREE</a>
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
				<a href="/">HOME</a>
				<a href="product">DEALS</a>
				<a href="vouchers">VOUCHERS</a>
				<a href="signup" class="button">SIGN UP/ LOGIN</a>
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
				</a>
			</div>
		
	</nav>

	<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
		</script>

    <script src="'app.js"></script>