<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stack of Wax</title>
	<link rel="stylesheet" href="/public/styles.css">
	<!-- <link rel="stylesheet" href="/public/logged_navbar.css"> -->
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
	<!-- Social media icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- navbar -->
	<nav class="navbar">
			<div class="topnav" id="myTopnav">
				<a href="/" id="navbar__logo" class="active"></i>ğ“†±ğ“Šğ“‹¼ğ“Šğ“‹¼ğ“Š FAMILYDEALTREE</a>
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
				<a href="/">HOME</a>
				<a href="alldeals">DEALS</a>
				<a href="product">VOUCHERS</a>
				<div class="dropdown">
					<button class="dropbtn">COMMUNITY
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="post_deals">Add Deals</a>
					  <a href="post_vouchers">Add Vouchers</a>
					  <a href="#">Saved</a>
					</div>
				  </div>
				<a href="/logout" class="button" id="logoutButton">LOGOUT</a>
				<a href="javascript:void(0);" class="icon" onclick="logout()">
				<i class="fa fa-bars"></i>
				</a>
			</div>
		
	</nav>

	<script>
		function logout() {
  			// Send a request to the "/logout" route to trigger the logout process on the server
 			 fetch('/logout', {
    			method: 'GET',
    			credentials: 'include',
 			 })
   			 .then((response) => {
     			 window.location.href = '/login';
    			})
    			.catch((error) => {
     			 console.error('Error during logout:', error);
    			});
		}
	</script>

    <script src="'app.js"></script>