<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stack of Wax</title>
	<link rel="stylesheet" href="styles.css">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
	<!-- Social media icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- navbar -->
	<nav class="navbar">
		<div class="navbar__container">
			<a href="/" id="navbar__logo"></i> π“†±π“π“‹Όπ“π“‹Όπ“ FAMILY DEAL TREE</a>
			<div class="navbar__toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<ul class="navbar__menu">
				<li class="navbar__item">
					<a href="/" class="navbar__links">HOME</a>
				</li>
				<li class="navbar__item">
					<a href="alldeals" class="navbar__links">DEALS</a>
				</li>
				<li class="navbar__item">
					<a href="vouchers" class="navbar__links">VOUCHERS</a>
				</li>
				<li class="navbar__btn">
					<a href="signup" class="button">SIGN UP/ LOGIN</a>
				</li>
			</ul>
		</div>
	</nav>

    <script src="'app.js"></script>