<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/vouchers.css">

</head>
<body>
    <!-- navbar -->
	<%- include ('navbar') %>
   
<div class="container">

   <h1 class="heading">Vouchers for Pizza Hut</h1>

   <div class="voucher">
    <div class="v_container">
      <h3>Lidl</h3>
    </div>
    <img src="/images//vouchers/v1.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>10% OFF YOUR PURCHASE</b></h2>
      <p>Enjoy 10% off orders over £40 at Pizza Hut.</p>
      <p>Check out <a href="https://www.pizzahut.co.uk/" target="_blank" rel="noopener noreferrer" class="shop_link">Pizza Hut</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">UUUS6678H433</span></p>
    </div>
  </div>

  <div class="voucher">
    <div class="v_container">
      <h3>Pizza Hut</h3>
    </div>
    <img src="/images//vouchers/v1.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>FREE SIDE</b></h2>
      <p>Enjoy a free side (on orders of 2 large pizzas) at Pizza Hut.</p>
      <p>Check out <a href="https://www.pizzahut.co.uk/" target="_blank" rel="noopener noreferrer">Pizza Hut</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">GHUS66373HS</span></p>
    </div>
  </div>


</div>


<!-- footer -->
<%- include ('footer') %>
</body>
</html>