<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Deals and Vouchers</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/saved.css">
</head>
<body class="saved_body">
    <!-- navbar -->
    <%- include ('navbar_logged') %>

    <h1 class="saved_header">View all your saved Deals and Vouchers</h1>

    <!-- footer -->
    <%- include ('footer') %>
</body>
</html>