<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/search.css">

</head>
<body>
    <!-- navbar -->
	<%- include ('navbar') %>
   
<div class="container">

   <h1 class="heading">search by genre</h1>

   <input type="text" placeholder="search" id="search-box">

   <div class="image-container">

      <div class="image" data-title="rap">
         <img src="/images/baby.jpg" alt="">
         <h3>Lil Baby</h3>
      </div>

      <div class="image" data-title="rap">
         <img src="/images/drake.jpg" alt="">
         <h3>Drake</h3>
      </div>

      <div class="image" data-title="rap">
         <img src="/images/maad.jpg" alt="">
         <h3>Kendrick Lemar</h3>
      </div>

      <div class="image" data-title="soul">
         <img src="/images/vin1.jpg" alt="">
         <h3>Stevie Wonder</h3>
      </div>

      <div class="image" data-title="pop">
         <img src="/images/vin2.jpg" alt="">
         <h3>Prince</h3>
      </div>

      <div class="image" data-title="pop">
         <img src="/images/vin4.jpg" alt="">
         <h3>Michael Jackson</h3>
      </div>

      <div class="image" data-title="rock">
         <img src="/images/vin6.jpg" alt="">
         <h3>Pink Floyd</h3>
      </div>

      <div class="image" data-title="rock">
         <img src="/images/vin5.jpg" alt="">
         <h3>Fleetwood Mac</h3>
      </div>

      <div class="image" data-title="rock">
         <img src="/images/vin7.jpg" alt="">
         <h3>The Eagles</h3>
      </div>

      <div class="image" data-title="jazz">
        <img src="/images/vin8.png" alt="">
        <h3>Aja</h3>
     </div>

     <div class="image" data-title="new wave">
        <img src="/images/vin9.jpg" alt="">
        <h3>Blondie</h3>
     </div>

     <div class="image" data-title="new wave">
        <img src="/images/vin10.jpg" alt="">
        <h3>Duran Duran</h3>
     </div>

     <div class="image" data-title="jazz">
        <img src="/images/vin11.jpg" alt="">
        <h3>Miles Davis</h3>
     </div>

     <div class="image" data-title="rock">
        <img src="/images/vin12.jpg" alt="">
        <h3>Bob Dylan</h3>
     </div>

     <div class="image" data-title="rock">
        <img src="/images/vin13.jpg" alt="">
        <h3>Led Zeppelin</h3>
     </div>

     <div class="image" data-title="hiphop">
        <img src="/images/vin14.jpg" alt="">
        <h3>Dr. Dre</h3>
     </div>

     <div class="image" data-title="hiphop">
        <img src="/images/vin15.jpg" alt="">
        <h3>Wu-Tang Clan</h3>
     </div>

     <div class="image" data-title="electronic">
        <img src="/images/vin16.jpg" alt="">
        <h3>Daft Punk</h3>
     </div>

     <div class="image" data-title="rap">
        <img src="/images/vin17.jpg" alt="">
        <h3>D-Block Europe</h3>
     </div>

     <div class="image" data-title="hiphop">
        <img src="/images/vin20.jpg" alt="">
        <h3>Frank Ocean</h3>
     </div>

     <div class="image" data-title="pop">
        <img src="/images/vin19.jpg" alt="">
        <h3>Adele</h3>
     </div>

     <div class="image" data-title="hiphop">
        <img src="/images/vin18.jpg" alt="">
        <h3>Denzel Curry</h3>
     </div>

     <div class="image" data-title="r&b">
        <img src="/images/vin21.jpg" alt="">
        <h3>Blondie</h3>
     </div>

     <div class="image" data-title="electronic">
        <img src="/images/vin22.jpg" alt="">
        <h3>Daft Punk</h3>
     </div>

     <div class="image" data-title="hiphop">
        <img src="/images/vin24.jpg" alt="">
        <h3>Macklemore</h3>
     </div>

     <div class="image" data-title="rock">
        <img src="/images/vin23.jpg" alt="">
        <h3>Of Monsters and Men</h3>
     </div>

     <div class="image" data-title="rock">
        <img src="/images/vin25.jpg" alt="">
        <h3>Animal Collective</h3>
     </div>

     <div class="image" data-title="rock">
        <img src="/images/vin26.jpg" alt="">
        <h3>Arcade Fire</h3>
     </div>

   </div>

</div>

<!-- js  -->
<script>

let searchBox = document.querySelector('#search-box');
let images = document.querySelectorAll('.container .image-container .image');

searchBox.oninput = () =>{
   images.forEach(hide => hide.style.display = 'none');
   let value = searchBox.value;
   images.forEach(filter =>{
      let title = filter.getAttribute('data-title');
      if(value == title){
         filter.style.display = 'block';
      }
      if(searchBox.value == ''){
         filter.style.display = 'block';
      }
   });
};

</script>

<!-- footer -->
<%- include ('footer') %>
</body>
</html>