<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/public/styles.css">
   <link rel="stylesheet" href="/public/vouchers.css">

</head>
<body>
    <!-- navbar -->
	<%- include ('navbar') %>
   
<div class="container">

   <h1 class="heading">Vouchers for Tesco</h1>

   <div class="voucher">
    <div class="v_container">
      <h3>Tesco</h3>
    </div>
    <img src="/images//vouchers/v5.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>20% OFF</b></h2>
      <p>Enjoy 20% off food (spend over £50).</p>
      <p>Check out <a href="https://www.tesco.com/" style="color:dodgerblue" target="_blank" rel="noopener noreferrer" class="shop_link">Tesco</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">FGH674383HD</span></p>
    </div>
  </div>

  <div class="voucher">
    <div class="v_container">
      <h3>Tesco</h3>
    </div>
    <img src="/images//vouchers/v5.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>50% OFF</b></h2>
      <p>Up to 50% off on fridge fillers.</p>
      <p>Check out <a href="https://www.tesco.com/" style="color:dodgerblue" target="_blank" rel="noopener noreferrer">Tesco</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">GHDHIS66748FS</span></p>
    </div>
  </div>

  <div class="voucher">
    <div class="v_container">
      <h3>Tesco</h3>
    </div>
    <img src="/images//vouchers/v5.jpg" alt="" style="width:100%;">
    <div class="v_container" style="background-color:white">
      <h2><b>20% OFF</b></h2>
      <p>Get discounts of up to 20% Easter fare, including slow-roasted beef at membership card pricing of £8 per kilogramme, is available.</p>
      <p>Check out <a href="https://www.tesco.com/" style="color:dodgerblue" target="_blank" rel="noopener noreferrer">Tesco</a>.</p>
    </div>
    <div class="container">
      <p class="code">Use Promo Code: <span class="promo">GU36764HDHS</span></p>
    </div>
  </div>


</div>


<!-- footer -->
<%- include ('footer') %>
</body>
</html>