* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
    padding: 20px;
    text-align: center;
}

p {
  color: black;
}

a {
  color: black;
}

.ar {
  text-align: center;
}

form {
  background-color: #d2d2d2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 0%;
  padding: 20px;
}

form label {
  color: black;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 8px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    color: #f1f1f1;
    outline: none;
}


/* Set a style for all buttons */
.btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: .5rem;
  padding:1rem 3rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  text-align: center;
}

.btn{
  background-color: #3bbc2a;
}

.btn:hover {
  background-color: #339e25;
}

.flex-btn{
  display: flex;
  gap:1rem;
}

.login__btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: .5rem;
  padding:1rem 3rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  text-align: center;
}

.login__btn{
  background-color: #3bbc2a;
}

.login__btn:hover {
  background-color: #339e25;
}

.flex-btn{
  display: flex;
  gap:1rem;
}

.remember {
  color: #f1f1f1;
}

.login p{
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
}

.button {
  color: white;
}


/* responsivness for button */
@media screen and (max-width: 300px) {
  .btn btn-primary {
     width: 100%;
  }

}
  